.thoughts-time {
  height: 14px;
  width: 84px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.f-r-a-m-e26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-9xs);
}
.if-you-arent {
  align-self: stretch;
  height: 95px;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 136%;
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.union-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-container {
  position: absolute;
  top: 20.9px;
  left: 84.1px;
  width: 32.3px;
  height: 50.1px;
  z-index: 1;
}
.ellipse-shape1 {
  position: absolute;
  top: 14px;
  left: 84px;
  border-radius: 50%;
  background-color: var(--color-darkorange);
  filter: blur(17px);
  width: 38px;
  height: 38px;
  mix-blend-mode: overlay;
  z-index: 2;
}
.f-r-a-m-e27 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.f-r-a-m-e25 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-69xl) var(--padding-xl) var(--padding-2xl);
  position: relative;
  gap: var(--gap-mini);
}
.f-r-a-m-e24 {
  width: 253px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-8xl) 0px var(--padding-xl);
  box-sizing: border-box;
}
.group-frame-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.logout {
  height: 19px;
  width: 53px;
  position: relative;
  display: inline-block;
}
.group-frame-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.f-r-a-m-e23 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-73xl);
}
.f-r-a-m-e22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-7xs) 0px var(--padding-9xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
  font-family: var(--font-abeezee);
}

@media screen and (max-width: 450px) {
  .f-r-a-m-e23 {
    gap: var(--gap-27xl);
  }
}
